.container-fluid{
	width: 1200px;
	flex-flow:row wrap;
	padding:0;
	margin:0;
	
/* 	justify-content:center;
	align-items:center; */
} 

img{
    width: 100px;
    height: 100px;
/*     margin: 6px; */

}


.row1{
	display:flex;
	justify-content:space-between;
}
.row2{
	display:flex;
	justify-content:center;
}
.row3{
	display:flex;
	justify-content:center;
}
.row4{
	display:flex;
	justify-content:center;
}
/* Your CSS Code here. */